/* phase1_chunk1.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1b1b1b; /* Cineworld background color */
    color: white;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

header {
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white; /* White text color */
    text-align: center;
    padding: 3vh 0;
    margin-bottom: 3vh; /* Add space below the header */
}

header h1 {
    font-size: 4vh;
    margin: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items at the start of the flex container */
    padding: 3vh;
}

.content {
    display: flex;
    width: 100%; /* Full width of the main container */
}

.left-div {
    flex: 1; /* Take up one-third of the available space */
    padding-right: 2vw; /* Add some space between left and right divs */
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 80vh; /* Set maximum height for scrollability */
}

.left-div img {
    width: 100%; /* Make images fill the width of the left div */
    display: block; /* Remove default inline display */
    margin-bottom: 2vh; /* Add some space between images */
}

.right-div {
    flex: 2; /* Take up two-thirds of the available space */
}

.right-div p {
    font-size: 2.5vh;
    line-height: 1.5; /* Increase line height for better readability */
}

.right-div p:first-child {
    margin-top: 0; /* Remove top margin for the first paragraph */
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1" height="1" viewBox="0 0 1 1" xmlns:xlink="http://www.w3.org/1999/xlink"><circle cx="0.05" cy="0.05" r="0.02" fill="white"/><circle cx="0.25" cy="0.75" r="0.02" fill="white"/><circle cx="0.85" cy="0.35" r="0.02" fill="white"/><circle cx="0.65" cy="0.95" r="0.02" fill="white"/><circle cx="0.45" cy="0.15" r="0.02" fill="white"/></svg>');
    background-size: 32px 32px; /* Adjust the size of speckles */
    opacity: 0.2; /* Decrease opacity */
    z-index: -1; /* Ensure it stays behind content */
}